.color{
    padding-top: 5%;
    background-color: #EEEEEE;
    height: 100vh;
}


.center {
  background-color: #ffffff;
  margin: auto;
  width: 325px;
  padding: 10px;
  box-shadow: 8px 8px 20px 1px #494949;
  border-radius: 5px;
}

.header {
  font-family: "sans-serif";
  display: flex;
  justify-content: center;
}


.label {
  margin-left: 10px;
}

@media screen and (max-width: 300px) {
  .center {
    width: 200px;
  }

  .img {
    width: 200px;
  }
}
