.navbar{
    height: var(--nav-size);
    background-color: var(--bg);
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
}

.navbarNav{
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.imgDiv{
    width: 250px;
    height: 50px;
    margin-left: 35px;
    cursor: pointer;
}

@media (min-width: 801px) {
    .navbar{
        display: none;
    }
 }
