.searchDiv {
  height: 350px;
  /* background-color: #5e0c0c; */
  padding: auto;
  display: flex;
}

.searchBox {
  width: 850px;
  height: 100%;
  /* background-color: #dadada; */
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 2px solid #393E46;
    border-radius: 8px; */
}

.searchInput {
  padding-left: 15px;
  height: 40px;
  width: 400px;
  border: none;
  outline: none;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 0px 5px 8px 2px #c9c9c9;
 
  
}

.searchInput:focus {
  border: 2px solid rgb(0, 173, 181, 0.8);
  border-right: none;
}

.searchButton {
  color: white;
  background-color: #00ADB5;
  width: 100px;
  height: 40px;
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 2px 5px 8px 2px #c9c9c9;
  transition-duration: 0.6s;
}

.searchButton:hover {
  background-color: #03888f;
  cursor: pointer;
}

.grid {
  /* background-color: blue; */

  display: flex;
  align-items: flex-start;
  /* justify-content: center; */
  

  flex-wrap: wrap;
  max-width: 1400px;
}

.contentDiv {
  display: flex;
  justify-content: center;
 
}

.img{
  pointer-events: none;
  -moz-user-select: none;
-webkit-user-select: none;
user-select: none;
}
